<div class="container bg-light text-dark p-5 text-center text-light">
  <h1>Product Id : {{ productId }}</h1>
  <p class="lead f-2">Product Name :</p>
  <p class="lead f-2 text-success">Product Price :</p>
  <div>
    <i class="text-warning mx-1 bi bi-star-fill"></i>
    <i class="text-warning mx-1 bi bi-star-fill"></i>
    <i class="text-warning mx-1 bi bi-star-fill"></i>
    <i class="text-warning mx-1 bi bi-star-fill"></i>
  </div>
  <button (click)="backToHome()" class="btn btn-dark mt-5">Back to Home</button>
</div>
