<div class="container bg-light p-5">
  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">ProductName</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        placeholder="Enter Product Name"
        aria-describedby="emailHelp"
      />
      <div id="emailHelp" class="form-text text-danger">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Price</label>
      <input
        type="number"
        placeholder="Enter Product Price"
        class="form-control"
        id="exampleInputPassword1"
      />
    </div>

    <button type="submit" class="btn btn-primary">Add Product</button>
  </form>
</div>
