<div class="container bg-light p-5">
  <form [formGroup]="productForm" (submit)="formOperation($event)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">ProductName</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        placeholder="Enter Product Name"
        aria-describedby="emailHelp"
        formControlName="productName"
      />
      <ng-container *ngIf="getProductName.touched">
        <div
          *ngIf="getProductName.hasError('required')"
          id="emailHelp"
          class="form-text text-danger"
        >
          Product Name is Required
        </div>
        <div
          *ngIf="getProductName.hasError('minlength')"
          id="emailHelp"
          class="form-text text-danger"
        >
          Product Name length must be greater than 3
        </div>
      </ng-container>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Price</label>
      <input
        type="number"
        placeholder="Enter Product Price"
        class="form-control"
        id="exampleInputPassword1"
        formControlName="price"
      />
      <ng-container *ngIf="getPrice.touched">
        <div
          *ngIf="getPrice.hasError('required')"
          id="emailHelp"
          class="form-text text-danger"
        >
          Price Is required
        </div>
      </ng-container>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Qunatity</label>
      <input
        type="number"
        placeholder="Enter Product Qunatity"
        class="form-control"
        id="exampleInputPassword1"
        formControlName="quantity"
      />
      <ng-container *ngIf="getQuantity.touched">
        <div
          *ngIf="getQuantity.hasError('required')"
          id="emailHelp"
          class="form-text text-danger"
        >
          Qunatity Is required
        </div>
      </ng-container>

      <p>{{ productForm.value | json }}</p>
    </div>

    <button type="submit" class="btn btn-dark mt-3">
      {{ productId == 0 ? "Add Product" : "Edit Product" }}
    </button>
  </form>
</div>
